h1 {
            color: red;
            background-color: black;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        p {
            font-family: fantasy;
            color: blue;
        }