.header {
  background-color: rgb(6, 163, 111);
  padding: 10px;
  justify-content: center;
  display: flex;
}

.header-title {
  color: cornsilk;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none;
}

.header-title:hover {
  color: rgb(0, 247, 255);
}

.judul {
  background-color: rgb(255, 161, 126);
  padding: 2px;
  justify-content: center;
  display: flex;
  color: aliceblue;
  margin-top: 10px;
}

.judul-2 {
  background-color: rgb(0, 85, 255);
  padding: 2px;
  justify-content: center;
  display: flex;
  color: aliceblue;
  margin-top: 10px;
}

.kredit {
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.penulis {
  color: red;
}

.tanggal {
  color: blue;
}

.konten {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artikel {
  background-color: antiquewhite;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.judul-a {
  font-weight: bold;
  font-size: larger;
}

.credit {
  font-style: italic;
}

.artikel:hover {
  background-color: aqua;
}

.more {
  text-decoration: none;
  
}
