/* header */

.logo-bekasi {
  height: 80px;
  width: 80px;
}

.header {
  background-color: beige;
  display: flex;
  padding: 10px;
}

.header-title a {
  text-decoration: none;
  font-size: 28px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}

/* navbar */
.nav {
  margin-top: 0px;
  background-color: black;
  padding: 10px;
}

.nav-item {
  display: inline-block;
  margin-left: 100px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  color: bisque;
}

/* konten */

.konten {
  width: 80%;
  margin: 0px auto;
}

.konten > h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}

.konten img {
  width: 80px;
}

.konten th {
  background-color: rgb(253, 216, 168);
  padding: 5px;
  text-align: left;
  font-size: 14px;
}

.konten td {
  padding: 10px;
  color: beige;
}

.konten tr {
  background-color: rgb(136, 171, 201);
}

.konten .tabel-ganjil {
  background-color: cadetblue;
}

.konten tr:hover {
  background-color: black;
}

/* form kontak */

.form-group label {
  display: block;
  font-family: cursive;
  margin-bottom: 10px;
}

.konten h3 {
  color: rgb(255, 145, 2);
}

.form-group input {
  width: 80%;
  margin-bottom: 10px;
}

.form-group textarea {
  width: 80%;
  margin-bottom: 10px;
  height: 150px;
}

.submit {
  display: block;
  width: 150px;
  height: 50px;
  border: 0px;
  border-radius: 20px;
  background-color: rgb(85, 128, 128);
  font-family: monospace;
  color: whitesmoke;
}
