* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  background-color: antiquewhite;
  width: 150px;
  padding: 10px;
  border: 1px solid;
  margin: 12px;
  text-align: center;
  font-size: 36px;
}

.container {
  background-color: aqua;
  padding: 10px;
  margin: 12px;
  width: 200px;
  border: 1px dashed red;
}
