/* hex code */
body {
  background-color: #89515149;
}

/* rgb value */

p {
  background-color: rgb(255, 235, 205);  
}
/* color name */

h1 {
  background-color: red;
}
/* foreground color */
/* background color */
